body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  font-family: "Arial", sans-serif;
  color: #404040;
  background: white;
  min-width: 1035px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container-big {
  width: 1015px;
  margin: 0 auto;
}
.container-small {
  width: 800px;
  margin: 0 auto;
}
.header-logo {
  width: 140px;
  height: 76px;
  float: left;
}
.page-header {
  background: url(img/wheat-back.jpg) no-repeat bottom;
  background-size: cover;
  min-height: 550px;
  padding-top: 60px;
}
.page-title {
  font-size: 70px;
  line-height: 70px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding-top: 130px;
}
.main-nav {
  list-style-type: none;
  float: left;
  width: 600px;
  height: 60px;
  padding: 0;
  margin: 0;
  margin-left: 70px;
}
.main-nav a {
  color: #ffffff;
  text-decoration: none;
}
.main-nav a:hover {
  text-decoration: underline;
}
.main-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}
.main-nav li {
  text-transform: uppercase;
  float: left;
  margin-right: 50px;
}
.features {
  background: #ffcb78;
}
.features ul {
  list-style-type: none;
}
.feature-title {
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.brew {
  background: url(img/icon-brew.png) no-repeat top center;
}
.matreshka {
  background: url(img/icon-matreshka.png) no-repeat top center;
}
.thumbsub {
  background: url(img/icon-thumbsup.png) no-repeat top center;
}
.section-title {
  font-size: 40px;
  line-height: 61px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
.reference-title {
  font-size: 20px;
  line-height: 30px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
.reference-source {
  font-size: 16px;
  line-height: 30px;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-style: italic;
  color: #404040;
  text-transform: capitalize;
}
.reference-source a {
  font-size: 16px;
  line-height: 30px;
  font-family: "Arial", sans-serif;
  text-transform: lowercase;
  font-style: italic;
  color: #834700;
}
.reference-source a:hover {
  color: #6a3900;
}
.reference-source a:active {
  color: #cab7a2;
}
.wiki-reference dd img {
  border-radius: 5px;
}
.review {
  background: #ede5d8;
}
.review-author {
  font-size: 20px;
  line-height: 30px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  font-style: normal;
}
.review::before {
  background: url(img/quotes.png) no-repeat;
}
.price-list {
  border-collapse: collapse;
}
.price-name {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
.price-list th {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}
.price-list td {
  border-bottom: 1px solid #404040;
}

.price-new {
  font-size: 8px;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  border-radius: 1px;
}
.btn {
  color: #a38b70;
  text-decoration: none;
  text-transform: uppercase;
}
.btn:hover {
  color: #8d745a;
}
.btn:active {
  color: rgba(141, 116, 90, 0.3);
}
.feedback {
  background: #ffcb78;
}
.feedback-form input[type="text"],
.feedback-form select,
.feedback-form textarea {
  font-size: inherit;
  color: inherit;
  background-color: #e5b66c;
}
.feedback-form-group {
  padding: 10px 0;
}
.feedback-form-group label {
  text-transform: uppercase;
  color: #000000;
  line-height: 20px;
}
.checkbox-area {
  background-color: #e5b66c;
}
.page-footer {
  background: #000000;
}
.page-footer a {
  text-decoration: none;
}
